<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>Name</th>
    <th>Identifier</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  {{#each country.points}}
    <tr>
      <td>
        {{name}}
      </td>
      <td>
        {{_id}}
      </td>
      <td>
        {{longitude}}
      </td>
      <td>
        {{latitude}}
      </td>
      <td>
        {{description}}
      </td>
      <td>
        <a href="/country/{{../country._id}}/deletepoint/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

